.Rproj.user
.Rhistory
.RData
.Ruserdata
Simulations/SimpleSocialResult.rda
Simulations/SocialInfluenceMetacognition.rda
Simulations/SocialInfluenceMetacognition2.rda
Simulations/SocialInfluenceMetacognition3.rda
